extends ../layout.pug

block content
    .wrapper
        .sidebar(data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg")
            .logo
                a.simple-text.logo-normal(href="/")
                    | Data Collector
            .sidebar-wrapper
                include ../includes/side-nav.pug
        .main-panel
            include ../includes/navbar.pug
            .content
                .container-fluid
                    .row
                        .col-md-12
                            .card
                                .card-header.card-header-primary
                                    h4.card-title Forms
                                    p.card-category  Here is a a list of all the forms you've created
                                .card-body
                                    .table-responsive
                                        table.table
                                            thead.text-primary
                                                th ID
                                                th Name
                                            tbody
                                                tr
                                                    td 1
                                                    td Dakota Rice
                                                    td.td-actions.text-right
                                                        button.btn.btn-info(type='button', rel='tooltip')
                                                            i.material-icons person
                                                        button.btn.btn-success(type='button', rel='tooltip')
                                                            i.material-icons edit
                                                        button.btn.btn-danger(type='button', rel='tooltip')
                                                            i.material-icons close
                                                tr
                                                    td 2
                                                    td Minerva Hooper
                                                    td.td-actions.text-right
                                                        button.btn.btn-info(type='button', rel='tooltip')
                                                            i.material-icons person
                                                        button.btn.btn-success(type='button', rel='tooltip')
                                                            i.material-icons edit
                                                        button.btn.btn-danger(type='button', rel='tooltip')
                                                            i.material-icons close
            footer.footer
                .container-fluid
                    .copyright.float-right
                        | Copyright © #{new Date().getFullYear()}
